<div class="bg">

    <div class="container ">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto ">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h3 class="card-title text-center">
                            <a href="#"> <i class="fas fa-tasks fa-2x "></i>
                            </a> Cadastro de Produtos
                        </h3>
                        <div>
                            <form>
                                <fieldset>

                                    <div class="form-group">
                                        <label>Código</label>
                                        <input class="form-control" name="codigo" type="number"
                                            [(ngModel)]="produto.codigo"
                                            placeholder="Informe o Código" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <input class="form-control" name="descricao" type="text"
                                            [(ngModel)]="produto.descricao"
                                            placeholder="Informe a descrição" maxlength="60" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Unidade</label>
                                        <input class="form-control" name="unidade" type="text"
                                            [(ngModel)]="produto.unidade"
                                            placeholder="Informe a unidade" maxlength="5" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Preço</label>
                                        <input name="preco" type="text" class="form-control"
                                            [(ngModel)]="produto.preco"
                                            placeholder="Informe o preço" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select class="form-control" [(ngModel)]="produto.categoria" name="categoria" >
                                            <option value="INFORMATICA">INFORMÁTICA</option>
                                            <option value="VESTUARIO">VESTUÁRIO</option>
                                            <option value="ALIMENTACAO">ALIMENTAÇÃO</option>
                                            <option value="HIGIENE">HIGIENE</option>
                                            <option value="CONSTRUCAO">COSTRUÇÃO</option>
                                        </select>
                                    </div>

                                    <div class="text-center">

                                        <button type="button" (click)="alterar(produto)"
                                            class="btn btn-lg btn-success btn-block text-uppercase">
                                            Salvar
                                        </button>
                                        <button type="button" (click)="cancelar()" 
                                            class="btn btn-lg btn-danger btn-block text-uppercase">
                                            Cancelar
                                        </button>
                                    </div>
                                </fieldset>
                                <br>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>