<div class="container margem">
    <h1>GESTÃO DE EVENTOS</h1>

    <div class="row">
        <div class="col-sm-6">
            <h2>Lista de Eventos</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- toda diretiva começa com * -->
                    <tr *ngFor="let item of listaEventos">
                        <td>{{item.descricao}}</td>
                        <td>{{item.data}}</td>
                        <td>{{item.preco}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h2>Cadastro de Eventos</h2>
            <form>

                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao">
                </div>

                <div class="form-group">
                    <label for="data">Data</label>
                    <input type="date" class="form-control" id="data">
                </div>

                <div class="form-group">
                    <label for="preco">Preço</label>
                    <input type="text" class="form-control" id="preco">
                </div>

                <button type="button" class="btn btn-primary">Incluir</button>
            </form>
        </div>
    </div>

</div>